:root {
    --color--primary: #363f45;
    --color--primary__dark: #2d3439;
    --color--primary__light: #3f4950;
    --color--accent: #ff6f00;
    --color--accent__light: rgba(255, 111, 0, 0.5);

    --color--white: #fff;
    --color--white__a09: rgba(255, 255, 255, .09);
    --color--black: #000;
    --color--black__a09: rgba(0, 0, 0, .09);

    --radius-main: 4px;
}
:root {
    --button__border-color: var(--color--primary);
    --button__text-color: var(--color--primary__dark);
    --beats__border-color: var(--color--primary__dark);
    --cell__border-color: var(--color--primary);
    --cell__bg-color: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
body {
    font-size: 14px;
    font-family: Roboto, sans-serif;
}


/* Buttons */
button {
    display: inline-block;
    overflow: hidden;
    flex: 0 0 auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0 15px;
    border: 2px solid var(--button__border-color);
    border-radius: var(--radius-main);
    outline: 0;
    height: 25px;
    color: var(--button__text-color);
    font: 500 14px Roboto, sans-serif;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent;
    transition: border-color .25s ease-out, color .25s ease-out, background-color .25s ease-out;
}
button:hover, button:focus {
    --button__border-color: var(--color--accent);
    --button__text-color: var(--color--accent);
}


/* Choose sample button*/
.chooser {
    flex: 0 0 auto;
    width: 125px;
    height: 100%;
}
.sample-chooser-input {
    display: none;
}


/* Main panel */
.panel {
    box-sizing: border-box;
    margin: 20px;
    padding: 50px 30px 30px;
    border-radius: var(--radius-main);
    background-color: #5e7c88;
    overflow: hidden;
}


/* Project header */
.header {
    position: relative;
    margin: 0 0 25px;
    padding: 0 160px 5px 0;
    border-bottom: 2px solid var(--color--primary__dark);
    height: 25px;
    color: var(--color--primary__dark);
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Reset project button */
.reset-project-button {
    position: absolute;
    top: 0;
    right: 0;
}


/* Project tracks and tracks container */
.tracks {
    overflow: auto;
    margin: 0;
    padding: 0;
}

.track {
    display: flex;
    margin: 5px 0 0;
    height: 25px;
    overflow: hidden;
}
.track:first-child {
    margin: 0;
}


/* Load sample button */
.load-sample-button {
    width: 150px;
}
.track__muted .load-sample-button {
    opacity: .4;
}


/* Track volume */
.track-volume {
    -webkit-appearance: none;
    margin: 0 0 0 15px;
    padding: 0;
    outline: none;
    width: 70px;
    height: 25px;
    background-color: transparent;
}
.track-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: block;
    margin: -4px 0 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--color--primary__dark);
}
.track-volume::-webkit-slider-runnable-track {
    border-radius: 1px;
    width: 100%;
    height: 2px;
    background-color: var(--color--primary__dark);
}

.track-volume:hover::-webkit-slider-thumb,
.track-volume:focus::-webkit-slider-thumb {
    background-color: var(--color--accent);
}


/* Beats */
.beats {
    flex: 0 0 auto;
    margin: 0 0 0 25px;
    padding: 0 25px;
    border-left: 3px solid var(--beats__border-color);
    height: 100%;
    font-size: 0;
    transition: border-color .25s ease-out;
}
.beats__current {
    --beats__border-color: var(--color--accent);
}
.track__muted .beats {
    opacity: .4;
}

.beat {
    display: inline-block;
    flex: 0 0 auto;
    margin: 0 2px;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid var(--cell__border-color);
    border-radius: var(--radius-main);
    outline: none;
    width: 25px;
    height: 25px;
    background-color: var(--cell__bg-color);
    transition: border-color .25s ease-out, background-color .25s ease-out;
    -webkit-appearance: none;
}
.beat:nth-child(16n+1) {
    margin-left: 6px;
}
.beat:nth-child(8n-0):not(.beat__current):not(:checked),
.beat:nth-child(8n-1):not(.beat__current):not(:checked),
.beat:nth-child(8n-2):not(.beat__current):not(:checked),
.beat:nth-child(8n-3):not(.beat__current):not(:checked) {
    --cell__bg-color: var(--color--white__a09);
}
.beat:first-child {
    margin-left: 0;
}
.beat:hover, .beat:focus {
    --cell__border-color: var(--color--accent);
}
.beat:checked {
    --cell__bg-color: var(--color--primary);
}
.beat__current {
    --cell__border-color: var(--color--accent);
}
.beat__current:checked {
    --cell__bg-color: var(--color--accent__light);
}


/* Add new track button */
.add-track-button {
    margin: 50px 0 0;
    width: 150px;
}


/* Play project button */
.play-button {
    margin: 0 0 0 15px;
}
